<!DOCTYPE html>
<html class="h-100" data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meteo app</title>

    <style>
        .btn-light,
        .btn-light:hover,
        .btn-light:focus {
            color: #333;
            text-shadow: none;
        }


        body {
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        }

        .cover-container {
            max-width: 42em;
        }

        .nav-masthead .nav-link {
            color: rgba(255, 255, 255, .5);
            border-bottom: .25rem solid transparent;
        }

        .nav-masthead .nav-link:hover,
        .nav-masthead .nav-link:focus {
            border-bottom-color: rgba(255, 255, 255, .25);
        }

        .nav-masthead .nav-link+.nav-link {
            margin-left: 1rem;
        }

        .nav-masthead .active {
            color: #fff;
            border-bottom-color: #fff;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Meteo</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="/">Home</a>
                    <a class="nav-link fw-bold py-1 px-0 active" href="/import-export">Import/Export</a>
                    <a class="nav-link fw-bold py-1 px-0" href="#">API</a>
                </nav>
            </div>
        </header>

        <main class="form-signin w-100">
            <form class="mb-3" method="post" action="/download" enctype="multipart/form-data">
                <h1 class="h3 mb-3 fw-normal">Download record from OpenWeather</h1>
                <div class="mb-3">
                    <input class="form-control" type="text" id="town" name="town" placeholder="Enter town name"
                        required>
                </div>
                <input class="w-100 btn btn-lg btn-success" type="submit" value="Download" />
            </form>

            <form method="post" action="/import" enctype="multipart/form-data">
                <h1 class="h3 mb-3 fw-normal">Import data</h1>

                <div class="mb-1">
                    <input class="form-control" type="file" id="file" name="file">
                </div>

                <div class="custom-control custom-checkbox mb-2">
                    <input type="checkbox" class="custom-control-input" id="update" name="update">
                    <label class="custom-control-label" for="update">Update import datetime and expiration date</label>
                </div>

                <input class="w-100 btn btn-lg btn-primary" type="submit" value="Import" />
            </form>

            <form class="mt-3" method="post" action="/export" enctype="multipart/form-data">
                <h1 class="h3 mb-3 fw-normal">Export data</h1>
                <input class="w-100 btn btn-lg btn-primary" type="submit" value="Export" />
            </form>

            <form class="mt-3" method="post" action="/remove-expired" enctype="multipart/form-data">
                <h1 class="h3 mb-3 fw-normal">Delete data</h1>
                <h6 class="h6 mb-3 fw-normal"
                    th:utext="'expiration period is ' + ${expiration} + ' days from insertion'"></h6>

                <div style="isolation: isolate;">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

                    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>

                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

                    <script
                        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

                    <div style="position: relative">
                        <input class="form-control" type="text" id="datetime" name="datetime"
                            placeholder="Select date and time or leave empty to delete expired" />
                    </div>
                    <script>
                        $('#datetime').datetimepicker({
                            format: 'YYYY-MM-DD hh:mm:ss'
                        });
                    </script>
                </div>

                <div class="custom-control custom-checkbox mb-2">
                    <input type="checkbox" class="custom-control-input" id="delete-confirm" required>
                    <label class="custom-control-label" for="delete-confirm">I agree to delete the expired
                        records</label>
                </div>
                <input class="w-100 btn btn-lg btn-danger" type="submit" value="Delete" />
            </form>
        </main>
        <footer class="mt-auto text-white-50">

            <div class="alert" style="position: absolute; right: 0; top: 0; margin: 25px; display: none;" role="alert"
                id="alert">
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/

                var type = /*[[${resultState}]]*/ 'default';
                var message = /*[[${resultMessage}]]*/ 'default';
                console.log(message);

                if (type ?? false) {
                    let alertDiv = document.getElementById("alert");

                    alertDiv.style.display = "";
                    alertDiv.innerHTML = message;
                    if (type == "success") {
                        alertDiv.classList.add("alert-success");
                    } else {
                        alertDiv.classList.add("alert-danger");
                    }

                    setTimeout(() => {
                        document.getElementById("alert").style.display = "none";
                        if (type == "success") {
                            alertDiv.classList.remove("alert-success");
                        } else {
                            alertDiv.classList.remove("alert-danger");
                        }
                    }, "5000");
                }

                /*]]>*/
            </script>
        </footer>
    </div>
</body>

</html>